.product-card {
    width: max-content;
    padding: 16px;
    box-shadow: var(--box-shadow-blog);
    border-radius: var(--border-radius);
    position: relative;
}

.product-card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.product-card .product-card__sale-percent {
    display: none;
}

.product-card.sale .product-card__sale-percent {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 30px;
    vertical-align: middle;
    font-size: var(--text-sm);
    padding-inline: 6px;
    padding-block: 4px;
    background-color: var(--bg-primary);
    color: #fff;
    border-radius: 4px;
}

.product-card__actions .icon {
    background-color: var(--bg-primary);
    height: 38px;
    width: 38px;
    border-radius: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card:hover .product-card__fav {
    display: inline-block;
}

.product-card .product-card__fav {
    display: none;
    position: absolute;
    padding: 6px;
    top: 30px;
    right: 30px;
    background-color: #fff;
    border-radius: 99%;
    animation: appear 400ms forwards;
    cursor: pointer;
}

.product-card .product-card__fav img {
    width: 24px;
    height: 24px;
    filter: var(--filter-to-primary);
}

.product-card:hover .product-card__actions .four-dot {
    display: none;
}

.product-card .product-card__actions .three-dot {
    display: none;
}

.product-card:hover .product-card__actions .three-dot {
    display: flex;
}

.product-card.sale .product-card__price {
    text-decoration: line-through;
    text-decoration-color: var(--text-default);
    text-decoration-thickness: 2px;
}

.product-card.sale .product-card__sale-price {
    display: block;
    color: #b1b1b1;
}

.product-card__sale-price {
    display: none;
    color: #b1b1b1;
}

/* --------------------------------- Header -------------------------------- */
body.sidebar-open {
    overflow: hidden;
}

body.sidebar-open .layer {
    display: block;
    position: absolute;
    height: 200vh;
    z-index: 98;
    inset: 0;
    animation: appear 300ms forwards;
    background-color: rgba(0, 0, 0, 0.94);
}

#lg-nav .nav-icon.icon {
    width: var(--lg-icon-size);
}

.md-nav,
.lg-nav {
    min-height: 103px;
}

.cart-count {
    background-color: var(--bg-primary);
    border-radius: 999px;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -5px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--text-xs);
    color: var(--bg-secondary);
}

.header__search .dropdown-menu {
    border: none;
    background-color: var(--bg-default);
    width: 330px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 10px 16px;
}

.header__search .dropdown-menu .dropdown-menu__content {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    padding: 10px 16px;
}

.header__search .dropdown-menu img {
    width: var(--sm-icon-size);
    height: var(--sm-icon-size);
}

.header__search--close-icon {
    width: var(--lg-icon-size);
    height: var(--lg-icon-size);
}

.header__search__toggle[aria-expanded="true"] .header__search--search-icon {
    display: none;
}
.header__search__toggle[aria-expanded="false"] .header__search--close-icon {
    display: none;
}

.header__search .dropdown-menu .dropdown-menu__content:focus-within {
    border-color: var(--text-primary);
}

.header__search .dropdown-menu .dropdown-menu__content {
    display: flex;
    align-items: center;
}

.header__search .dropdown-menu input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.header__search .dropdown-menu input::placeholder {
    font-size: var(--text-xs);
    color: #b1b1b1;
    font-weight: bold;
    opacity: 0.6;
}

.header__search .dropdown-menu input:focus {
    outline: none;
}

/* desktop category menu */
.header__cat-menu-btn {
    padding: var(--button-secondary-py) var(--button-secondary-px);
    display: flex;

    align-items: center;
    gap: 2px;
    border: 1px solid var(--text-primary);
    border-radius: 8px;
}

.header__cat-menu-btn:hover {
    color: #fff;
    background-color: var(--bg-primary);
}
.header__cat-menu-btn:hover img {
    filter: grayscale(1) brightness(200%);
}

.dropdown-menu {
    border: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--bg-default);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    animation: appear 600ms forwards;
}

.cat-menu__items {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-inline: 16px;
    width: 266px;
}

.cat-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.cat-menu__items li.selected {
    color: var(--text-primary);
}

.cat-menu__item img {
    background-color: var(--bg-default);
    width: 16px;
    height: 16px;
}

.cat-menu__options {
    padding-inline-start: 16px;
    flex-grow: 2;
    border-right: 1px solid #dddddd;
}

.cat-menu__options__header {
    border-bottom: 1px solid #dddddd;
    padding-block-end: 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 4px;
}

.cat-menu-options__list {
    margin-top: 24px;
}

.cat-menu-options__list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 450px;
    column-gap: 30px;
    row-gap: 20px;
    justify-items: start;
    color: #838383;
}

.cat-menu-options__list ul li {
    list-style: disc;
    list-style-position: inside;
    white-space: nowrap;
    cursor: pointer;
}

.cat-menu-options__list ul li:hover {
    color: var(--text-primary);
}

/* --------------------------------------------------- md styles --------------------------------------- */
#md-nav .icon-nav.icon {
    width: var(--sm-icon-size);
    height: var(--sm-icon-size);
}

#md-nav .header__logo img {
    width: 75px;
    height: 75px;
}

@media (max-width: 570px) {
    #md-nav .header__logo img {
        width: 75px;
        height: auto;
    }
}

#md-nav img {
    width: var(--sm-icon-size);
    height: var(--sm-icon-size);
}

/* different screens */

#lg-nav {
    display: none;
}

@media (min-width: 860px) {
    #lg-nav {
        display: flex;
    }
    #md-nav {
        display: none;
    }

    .cart-count {
        width: 22px;
        height: 22px;
        top: -10px;
        right: -10px;
    }
}

@media (max-width: 460px) {
    .mobile-hide {
        display: none;
    }
}

.sidebar {
    width: 0;
    direction: rtl;
    visibility: hidden;
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    background-color: var(--bg-default);
    z-index: 99;
    transition: all 300ms ease-in;
    padding: 16px;
    overflow-x: hidden;
}

.sidebar #mb-category-list {
    display: block;
    width: max-content;
    min-width: 270px;
}

.mb-category-menu {
    background-color: red;
    width: 100%;
}

.sidebar.open {
    width: 42vw;
    visibility: visible;
    display: flex;
    flex-direction: column;
    text-align: right;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 670px) {
    .sidebar.open {
        width: 60vw;
    }
}

@media (max-width: 490px) {
    .sidebar.open {
        width: 75vw;
    }
}

@media (max-width: 380px) {
    .sidebar.open {
        width: 85vw;
    }
}

.sidebar__btn {
    border: 1px solid #dfd2d2;
    padding: 8px;
    border-radius: var(--border-radius-sm);
    font-size: var(--text-sm);
    cursor: pointer;
}

.sidebar__btn:hover {
    color: var(--text-primary);
    border-color: var(--text-primary);
}

.sidebar__btn:hover img {
    filter: var(--filter-to-primary);
}

.sidebar__cat-btn {
    padding: 8px;
    border-bottom: 1px solid #dfd2d2;
    font-weight: 500;
    color: #242424;
    cursor: pointer;
}

.sidebar__cat-btn:hover {
    color: var(--text-primary);
}

.sidebar__menu-cat {
    padding: 22px 6px;
    color: var(--text-default);
    font-size: var(--text-sm);
}

.sidebar__menu-cat ul {
    padding: 0;
}

.sidebar__menu-item {
    display: flex;
    padding-block: 16px;
    justify-content: space-between;
}

.sidebar__menu-item:not(:last-child) {
    border-bottom: 1px solid #dfd2d2;
}

.sidebar__cat-list {
    color: #838383;
    font-weight: 100;
    padding-block: 8px;
}

.sidebar__cat-list:hover {
    color: var(--text-primary);
}

#mb-category-menu.hid {
    display: none;
}
/* -------------------------app bar------------------------------------------------ */
.app-bar {
    display: block;
    width: 100vw;
    z-index: 4;
    position: fixed;
    height: 78px;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

@media (min-width: 460px) {
    .app-bar {
        display: none;
    }
}

.app-bar__basket {
    position: absolute;
    background-color: #fff;
    width: 110px;
    height: 110px;
    top: 0px;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999%;
    border: rgba(0, 0, 0, 0.1) solid 10px;
}

.app-bar .icon {
    filter: var(--filter-to-primary);
}

/* ----------------------------------------------------------- main --------------------------------------- */
/* ----------------------------------- hero ----------------------------- */

.hero {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.hero .carousel__actions {
    position: absolute;
    bottom: 15%;
    right: 4%;
    transform: translate(0, -50%);
}

.carousel__actions__nav img {
    cursor: pointer;
}

.carousel__actions__nav img:hover {
    filter: invert(100%);
}

.hero .carousel__item > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom center;
}

.hero__overlay {
    position: absolute;
    max-width: 40%;
    text-align: right;
    top: 50%;
    right: 4%;
    transform: translate(0, -50%);
    word-spacing: -3px;
    letter-spacing: 0.3px;
}

.hero__overlay h2 {
    line-height: 64px;
}

.button {
    border: 1px solid #242424;
    padding: 10px 28px;
    border-radius: var(--border-radius-sm);
    width: fit-content;
    color: #242424;
    font-size: var(--text-sm);
    position: relative;
    cursor: pointer;
}

.button.primary {
    color: var(--bg-primary);
    border-color: var(--bg-primary);
}

.button.primary::after {
    background-color: #cef0e8;
}

.button::after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: var(--border-radius-sm);
    top: 2.5px;
    left: -12.5px;
    width: 60%;
    height: 85%;
    z-index: -1;
    transition: all 500ms ease;
}

.button:hover::after {
    width: 105%;
    /* transform: translate(80%, -26%); */
}

.hero__overlay .line {
    width: 46px;
    height: 2px;
    background-color: var(--text-default);
}

/* @media () */

@media (max-width: 768px) {
    .hero > img {
        height: 395px;
    }

    .hero__overlay .line {
        width: 20px;
    }

    .hero__overlay h2 {
        line-height: 1.6;
        font-size: 24px;
    }
}

@media (max-width: 520px) {
    .hero {
        inset-inline: 0;
    }
    .hero__overlay {
        max-width: 60%;
        right: 2%;
    }

    .hero__overlay p {
        font-size: var(--text-sm);
    }

    .hero__overlay h2 {
        font-size: 24px;
    }

    .hero .carousel__item > img {
        height: 495px;
        object-position: 60%;
    }
}

/* ----------------------------------------------- Sale ------------------------------------------------- */
.sale__header {
    text-align: center;
}

.sale__header-line .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--text-primary);
    border-radius: 99%;
}

.sale__header-line .line {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 4px;

    border-radius: 2px;
    background-color: var(--text-primary);
}

/* -------------------------------------------------------------- slide ------------------------------------ */
.slide-container {
    display: flex;
    position: relative;
    gap: 16px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slide-container::-webkit-scrollbar {
    display: none;
}

.slide-action #slide-left,
.slide-action #slide-right {
    background-color: #fff;
    width: 28px;
    height: 28px;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 99%;
    z-index: 2;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

#slide-left:hover,
#slide-right:hover {
    background-color: var(--bg-primary);
}

#slide-left:hover > img,
#slide-right:hover > img {
    filter: invert(100%);
}

.slide-action img {
    width: 22px;
    height: 22px;
    filter: var(--filter-to-primary);
}

.slide-action #slide-left {
    left: 0px;
}

.slide-action #slide-right {
    right: -10px;
    transform: rotate(180deg);
}

.slide-item {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media (max-width: 520px) {
    .sale__header-line:has(.dot, .line) {
        display: none;
    }
}

/*----------------------------------------------- suggest -----------------------------------------------------*/
.suggest__desc {
    max-width: 375px;
}

.suggest__desc p:first-child {
    font-size: 28px;
}

.suggest__desc p {
    line-height: 32px;
}

.suggest__hero-pic img {
    max-width: 100%;
}

.suggest__slide {
    position: absolute;
    top: 75%;
    right: 7%;
    z-index: 3;
    width: max-content;
}

.suggest__slide-container {
    max-width: fit-content;
    display: flex;
    gap: 16px;
}

.suggest__slide .slide-action #slide-right,
.suggest__slide .slide-action #slide-left {
    background-color: #e1f3ef;
}

.suggest__slide .slide-action #slide-right img,
.suggest__slide .slide-action #slide-left img {
    filter: var(--filter-to-primary);
}

@media (max-width: 990px) {
    .suggest__slide-container {
        max-width: 640px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .suggest__slide-container .product-card {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .suggest__slide-container::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 720px) {
    .suggest__slide {
        right: 25%;
    }

    .suggest__slide .slide-action #slide-right {
        right: -20%;
    }

    .suggest__slide .slide-action #slide-left {
        left: -20%;
    }

    .suggest__slide-container {
        max-width: 320px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .suggest__slide-container .product-card {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    .suggest__slide-container::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 610px) {
    .suggest__slide {
        right: 17.5%;
    }
}

@media (max-width: 520px) {
    .suggest__slide-container {
        max-width: 275px;
    }

    .suggest__slide-container .product-card__pic {
        width: 235px;
    }
}

@media (max-width: 450px) {
    .suggest__slide {
        right: 15%;
    }
    .suggest__slide-container {
        max-width: 245px;
    }

    .suggest__slide-container .product-card__pic {
        width: 215px;
    }
}

@media (max-width: 450px) {
    .suggest__slide-container {
        max-width: 225px;
    }

    .suggest__slide-container .product-card__pic {
        width: 190px;
    }
}

.suggest__slide .product-card {
    background-color: #fff;
}

/* animations */
@keyframes appear {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
