/* --------------------------------- Header -------------------------------- */
.header {
    min-height: 103px;
}

.header__phone {
    cursor: pointer;
    align-items: center;
}

.header__secondary-nav {
    list-style: none;
}

.header__secondary-nav li {
    cursor: pointer;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__primary-nav {
    align-items: center;
    justify-content: end;
}

.header__primary-nav > ul li {
    cursor: pointer;
}

.header__primary-nav > ul li:hover {
    filter: var(--filter-to-primary);
}

.header__search .dropdown-menu {
    border: none;
    background-color: var(--bg-default);
    width: 330px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 10px 16px;
    animation: appear 600ms forwards;
}

.header__search .dropdown-menu .dropdown-menu__content {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    padding: 10px 16px;
}

.header__search .dropdown-menu img {
    width: var(--sm-icon-size);
    height: var(--sm-icon-size);
}

.header__search--close-icon {
    width: var(--lg-icon-size);
    height: var(--lg-icon-size);
}

.header__search__toggle[aria-expanded="true"] .header__search--search-icon {
    display: none;
}
.header__search__toggle[aria-expanded="false"] .header__search--close-icon {
    display: none;
}

.header__search .dropdown-menu .dropdown-menu__content:focus-within {
    border-color: var(--text-primary);
}

.header__search .dropdown-menu .dropdown-menu__content {
    display: flex;
    align-items: center;
}

.header__search .dropdown-menu input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.header__search .dropdown-menu input::placeholder {
    font-size: var(--text-xs);
    color: #b1b1b1;
    font-weight: bold;
    opacity: 0.6;
}

.header__search .dropdown-menu input:focus {
    outline: none;
}

.header__cat-menu {
    padding: var(--button-secondary-py) var(--button-secondary-px);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
    border: 1px solid var(--text-primary);
    border-radius: 8px;
}

.dropdown-menu {
    border: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--bg-default);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.cat-menu {
    display: flex;
    padding: 24px;
}

.cat-menu__items {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-inline: 16px;
    width: 266px;
}

.cat-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.cat-menu__items li.selected {
    color: var(--text-primary);
}

.cat-menu__item img {
    background-color: var(--bg-default);
    width: 16px;
    height: 16px;
}

.cat-menu__options {
    padding-inline-start: 16px;
    flex-grow: 2;
    border-right: 1px solid #dddddd;
}

.cat-menu__options__header {
    border-bottom: 1px solid #dddddd;
    padding-block-end: 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 4px;
}

.cat-menu-options__list {
    margin-top: 24px;
}

.cat-menu-options__list ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 450px;
    column-gap: 30px;
    row-gap: 20px;
    justify-items: start;
    color: #838383;
}

.cat-menu-options__list ul li {
    list-style: disc;
    list-style-position: inside;
    cursor: pointer;
    white-space: nowrap;
}

.cat-menu-options__list ul li:hover {
    color: var(--text-primary);
}


@keyframes appear {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
